<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 12 Ajax Axios</title>
    <style>
        form {
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }
        label{
            display: block;
            margin-top: 5px;
        }
        input, textarea, select, option {
            min-width: 200px;
        }
    </style>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>

            <label>Name : </label>
            <input type="text" name="name" ref="name" v-model="name" :disabled="buttonStatus == 'upload'">
            <label>Address : </label>
            <input type="text" name="address" ref="address" v-model="address" :disabled="buttonStatus == 'upload'">
            <label>No. Hp : </label>
            <input type="text" name="no_hp" ref="no_hp" v-model="no_hp" :disabled="buttonStatus == 'upload'">
            <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="buttonStatus == 'update'">
                <input type="button" value="UPDATE" @click="updateMember(idEditMember)">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top: 5px">
            </div>
            <div v-else-if="buttonStatus == 'upload'">
                <input type="file" name="photo" ref="photo">
                <input type="button" value="UPLOAD" @click="submitPhoto(idUploadMember)" style="margin-top: 5px">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top: 5px">
            </div>
        </form>


        <br><br>

        <table border="1">
            <tr v-for="member of members">
                <td>
                    <img width=100 :src="member.photo ? photoDomain + member.photo : 'https://dummyimage.com/300'" alt="">
                </td>
                <td>
                    <b>Name : </b> {{ member.name }} <br>
                    <b>Address : </b> {{ member.address }} <br>
                    <b>No. Hp : </b> {{ member.no_hp }} <br>
                </td>
                <td>
                    <button @click="editMember(member)">Edit</button>
                    <button @click="removeMember(member.id)">Hapus</button>
                    <button @click="uploadPhoto(member)">Upload Foto</button>
                </td>
            </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                name : '',
                address : '',
                no_hp : '',
                errors: [],
                members: [],
                photoDomain : 'http://demo-api-vue.sanbercloud.com/api/member',
                buttonStatus : 'submit',
                idEditMember : null,
                idUploadMember : null
            },
            methods: {
                validationForm : function(){
                    this.errors = []

                    if(this.name.length < 5){
                        this.errors.push('Title minimal 5 karakter')
                        this.$refs.name.focus()
                    }
                    
                    if(this.address.length > 30){
                        this.errors.push('Description tidak boleh lebih dari 30 karakter.')
                        this.$refs.address.focus()
                    }

                    if(this.no_hp.length > 10){
                        this.errors.push('Description tidak boleh lebih dari 10 karakter.')
                        this.$refs.no_hp.focus()
                    }
                },
                clearForm : function(){
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit'
                    this.idEditMember = null
                    this.idUploadMember = null
                },
                submitForm : function(){
                    this.validationForm()

                    if(this.errors.length === 0){
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)
                        
                        const config = {
                            method : "post",
                            url : "http://demo-api-vue.sanbercloud.com/api/member",
                            data : formData
                        }

                        axios(config)
                        .then( (response) => {
                            this.clearForm()
                            this.getMembers()
                            alert(response.data.message)
                        })
                        .catch( (error) => {
                            
                        })
                        
                    }
                },
                getMembers : function(){
                    const config = {
                        method : "get",
                        url : "http://demo-api-vue.sanbercloud.com/api/member"
                    }

                    axios(config)
                    .then( (response) => {
                        this.members = response.data.members
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
                },
                removeMember : function(id){
                    const config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params : { _method : "DELETE"}
                    }

                    axios(config)
                    .then( (response) => {
                        this.getMembers()
                        alert(response.data.message)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })

                    console.log(id)
                },
                editMember : function(member){
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'update'
                    this.idEditMember = member.id
                },
                updateMember : function(id){
                    this.validationForm()
                    if(this.error.length === 0){
                        let formData = new FormData()
                        formData.append('name' , this.name)
                        formData.append('address' , this.address)
                        formData.append('no_hp' , this.no_hp)

                        let config = {
                            method : "post",
                            url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params : { _method : 'PUT' },
                            data : formData
                        }

                        axios(config)
                        .then ( (response) => {
                            this.clearForm()
                            this.getMembers()
                            alert(response.data.message)
                        })
                        .catch( (error) => {
                            console.log(error)
                        })
                    }
                },
                uploadPhoto : function(member){
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'upload'
                    this.idUploadMember = member.id
                },
                submitPhoto : function(id){
                    
                    let file = this.$refs.photo.files[0]

                    let formData = new FormData()
                    formData.append('photo_profile' , file)

                    let config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data : formData
                    }

                    axios(config)
                    .then ( (response) => {
                        this.clearForm()
                        this.getMembers()
                        alert(response.data.message)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
                }
            },
            created(){
                this.getMembers()
            }
        })
    </script>

</body>
</html>