<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 2</title>
</head>
<body>
    <div id="app">
        <form>
            <input type="text" ref="input" v-model="input">
            <button type="button" v-on:click="addToUsers()">add</button>

            <ul>
                <li v-for="users in users">{{ users.name }} <button>Edit</button>||<button v-on:click="deleteUsers()">Delete</button></li>
            </ul>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                input: '',
                users: [
                    {name:"Muhammad Iqbal Mubarok"},
                    {name:'Ruby Purwanti'},
                    {name:'Faqih Muhammad'}
                ]
            },
            computed: {
                addToUsers: function() {
                    var newTodo = this.input.trim();
                    if (!newTodo) {return;}
                    this.users.push(
                        {name: newTodo}
                    );
                    this.input = '';
                },
                deleteUsers: function(index){
                    if(confirm('Anda Yakin?'))
                    axios.delete('/api/artist/'+id)
                    .then(resp => {
                        this.users.splice(index, 1);
                    })
                    .catch(error => {
                        console.log(error);
                    })
                },
                editUser: function() {
                    his.$refs.input.focus()
                }
            }
        })
    </script>

</body>
</html>