<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form>
            <input type="text" v-model="search" placeholder="Search">

            <ul>
                <li v-for="books in filteredList">{{ books.title }}</li>
            </ul>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                search: '',
                books: [
                    {title:"Kalkulus Dasar"},
                    {title:"Fisika Dasar"},
                    {title:"Aljabar Linier Elementor"},
                    {title:"Aljabar Abstrak"},
                    {title:"Algoritma Pemrograman"}
                ]
            },
            computed: {
                filteredList: function() {
                    if(this.search){
                        return this.books.filter((item)=>{
                            return this.search.toLowerCase().split(' ').every(v => item.title.toLowerCase().includes(v))
                        })
                    }else{
                        return this.books;
                    }
                }
            }
        })
    </script>
</body>
</html>